@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: serif;
  /* font-family: "Inter", sans-serif; */
}

@layer components {
  .navItem {
    @apply flex items-center justify-center px-3 py-2 space-x-2 rounded-full cursor-pointer hover:text-blue-600 sm:justify-start hover:bg-blue-light;
  }
}

.loader {
  border-top-color: #1f6492;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
